body {
    background-color: #f0f0f0; 
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.jumbotron{
    background-color: #00a892;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#resultado {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}


.result-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.result-col {
    flex: 1;
    text-align: center;
    padding: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.result-col-left {
    flex: 1;
    text-align: center;
    padding: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.result-col-right {
    flex: 1;
    text-align: center;
    padding: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
}